* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, nav {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: brown;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
}

div {
  width: 400px;
  height: 200px;
  /* margin: 20px; */
}

h3 {
  text-align: center;
}

#one {
  background-color: red;
  /* align-self: flex-end; */
  /* flex-grow: 1; */
  /* flex-shrink: 1;
  flex-basis: auto; */
  /* flex: 1; */
  order: 1;
  /* flex: 1; */
}

#two {
  background-color: blue;
  /* flex: 2; */
  /* flex-grow: 2; */
  /* flex-shrink: 10; */
  /* align-self: center; */
  /* flex: 2; */
}

#three {
  background-color: orange;
  /* flex: 4; */
  align-self: center;
  order: -222;
  /* flex: 3; */
}

#four {
  background-color: blueviolet;
}

#five {
  background-color: chartreuse;
}

#six {
  background-color: aqua;
}

#seven {
  background-color: darkblue;
}

@media (max-width: 700px) {
  div {
    width: 20px;
    height: 20px;
  }
}


section p,
section .text,
section #contain {

}

section::after {

}

section::before {

}

section:nth-child(even) {

}


section:is(.text, .contain, p) {

}

section > p {

}
