/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 386px) {
  body {
    background-color: red;
    font-size: 17px;
    line-height: 1.2;
    margin: 10px;
  }

    h1 {
      font-size: x-large;
    }

    figure img {
      width: 100%;

    }
}



@media screen and (min-width: 385px) {
    body {
      font-size: 20px;
      margin: 20px;
    }
    
    article {
    
    }
    
    h1 {
      font-size: xx-large;
    }
    
    h2 {
    
    }

    h1 , h2 {
      text-align: center;
    }
    
    img {
      max-width: 100%;
    }
    
    main {
    
    }
    
    section.container-imgs{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    
    figure {
      margin: 25px 20px;
      width: 38%;
    }
    
    figcaption {
      font-size: .8em;
    }
  }

  @media screen and (min-width: 1420px) {

    body {
      background-color: aqua;
      margin: 0px 30px;
    }

    h1 {
      font-size: 55px;
    }

    h2 {
      font-size: 50px;
    }

    article p {
      margin: 20px 20px;
    }

    figcaption {
      font-size: 20px;
      font-weight: 800;
    }
  }
